.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .navBar {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 10vh;
    
  }
  
  
  .links a{
    float: left;
    color: rgb(14, 0, 0);
    font-family: 'Secular One', sans-serif;
    text-indent: 150px;
    font-size: larger;
    font-style: bold, italic;
    text-decoration: none;
  }
  
  .Nav ul{
  
    display: flex;
    }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
