
body{
    background-color: blue;
}
 
.headName{
    text-align: center;
}


.navBar {
    display: flex;
    justify-content: center;
}
  
.links {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 70%; /*change this value to adjust the width of the navbar*/
}
  
.links a {
    text-decoration: none;
    font-size: larger;
    font-style: bold, italic;
    color: rgb(239, 244, 246);
    font-family: 'Secular One', sans-serif;
}
  
.icon {

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
.icon a {
  color: whitesmoke;
  font-size: 2rem;
  display: d-flex justity-content-evenly;
}

.resume{
  margin-top: 3rem;
  text-align: center;
  
}
.resume ul{
  text-decoration: none;
}

.home{
    bottom: 0;
    right: 0;
    display: inline-flex;
    /* margin-left: 10rem; */
    align-content: center;
    width: auto;
}

.home-name {
  width: auto;
  height: fit-content;
  text-align: right;
  margin-top: 15rem;
  margin-left: 10rem;
}
.home-pic {
    width: 400px;
    height: 400px;
    margin-top: 3rem;
  border: 3px solid black;
  
}

.c-body {
  display: flex;
  flex-direction: column;
}

.c-wrap {
  display: inline-block;
  flex-direction: row;
  
}

.c-nav {
  margin-top: 2rem;
  order: -1;
  flex-grow: 1;
}

.c-main {
  margin-top: 4rem;
  text-align: center;
  width: 100%;
}

